* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 0.8px;
}

body {
    font-family: "Rubik";
    font-size: 16rem;
}

section {
    padding-bottom: 100rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    padding-bottom: 50rem;
}

.wrapper {
    margin: 0 auto;
    width: 85%;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.navigation {
    flex-wrap: wrap;
    padding: 27rem 0;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.flex-between {
    display: flex;
}

.menu {
    column-gap: 50rem;
}

menu a {
    letter-spacing: 4rem;
    color: #333;
}

.main-bg {
    background: #dcdde1 url(../img/main-bg.jpg) center/cover no-repeat;
    padding: 15% 0;
    text-align: center;
}

.flex-between img {
    padding: 10px 0 0 0;
    width: 100%;
}

h3 {
    background-color: #333;
    color: white;
    padding: 20rem;
}

figcaption {
    text-align: center;
    text-transform: uppercase;
    height: 40%;
}

.footer-top p {
    color: #fff;
    width: 100px;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.flex-between-phone p {
    color: #fff;
}

.flex-between>a img {
    padding: 5rem;
}
.work-picture img{
    width: 100%;
}

.footer {
    background-color: #333;
    padding: 61rem;
}

h2 {
    font-size: 70rem;
    letter-spacing: 4rem;
    color: #333333;
    font-family: "Rubik Roman";
    padding-bottom: 50rem;
}

.map img{
 width: 100%;
}

h1,
h2,
h3 {
    text-align: center;
}

h1,
h2 {
    font-size: 52rem;
    letter-spacing: 4rem;
    color: #333;
}

h1 {
    padding: 0 15rem 50rem;
    padding-bottom: 50rem;
}

.assortment div,
.work,
.contacts .flex-between {
    flex-wrap: wrap;
    gap: 20rem;
}

.assortment figure {
    text-transform: uppercase;
    letter-spacing: 2rem;
    font-size: 14rem;
    max-width: 40vw;
}

.footer-top {
    flex-wrap: wrap;
}

.footer div {
    column-gap: 20rem;
}

img {
    object-fit: cover;
}

.flex-between-email img {
    padding: 0 10px 0 0;
    min-width: 50px;
}

.flex-between-phone img {
    max-width: 45rem;
    padding: 0 0 0 10px;
}

.flex-between-phone a {
    display: flex;
    justify-content: center;
    min-width: 100px;
}

.contacts-text {
    color: #000;
    font-size: 16px;
    line-height: 55rem;
}

.contacts-text span {
    font-size: 35rem;
}

.contacts-text a {
    color: #333;
    font-size: 25rem;
}


.assortment h3 {
    font-size: 20rem;
    text-align: center;

}

.p{
    color: #fff;
}

.bg {
    background: url(../img/pyrizok.png) center/cover no-repeat;
    min-height: 300rem;
}


.navigation a {
    color: #333;
    transition: all 1s ease;
}

.flex-between {
    margin-bottom: 10rem;
    min-width: 100px;
}


.work-text h2 {
    line-height: 0.8em;
    padding-bottom: 55rem;
}

.work-text p {
    margin-bottom: 40rem;
}

.main-bg a {
    display: inline-block;
    min-width: 252rem;
    padding: 20rem 0;
    border-radius: 30rem;
    font-size: 24rem;
    color: #fff;
    background-color: #c6792b;
}

.main-bg a:hover {
    color: #333;
    transition: all 1s ease;
    background-color: #7b4a19;
}

h2 {
    padding: 10px 0 0 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-text {
    display: flex;
    justify-content: space-between;
}



@media screen and (min-width:425px) {

    h1,
    h2 {
        font-size: 72rem;
    }
}

@media screen and (min-width:768px) {

    .assortment div,
    .work,
    .contacts .flex-between {
        flex-wrap: nowrap;
    }

    .work-text {
        max-width: 50%;
    }

    .contact-text {
        display: block;
    }


    .contacts .flex-between {
        column-gap: 50rem;
    }
}

@media screen and (min-width:1024px) {

    .assortment div,
    .work {
        column-gap: 50rem;
    }
}